body {
  font-family: monospace;
  color: #666666;
  background-color: #f0f5f5;
}

.headAndFoot {
  background-color: #d1e0e0;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 4px;
  padding: 1em;
  text-align: center;
}

#wrapper {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: #b3cccc;
  border-style: double;
  border-width: 4px;
  border-color: #666666;
  border-radius: 4px;
}

#groceryList {
  display: inline-block;
  background-color: #e0ebeb;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  border-radius: 4px;
  font-size: 1.2em;
  margin: auto;
  width: 65%;
  padding: 1em;
  line-height: 150%;
}

#groceryPrice {
  display: inline-block;
  background-color: #e0ebeb;
  text-align: right;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  border-radius: 4px;
  width: 15%;
  font-size: 1.2em;
  padding: 1em;
  line-height: 150%;
}

#totalBox {
  color: #527a7a;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  width: 30%;
  margin: 4px auto;
  padding: 1em 0 1em 0;
  font-weight: bold;
}

#footer {
  position: fixed;
  bottom: 2px;
  left: 1px;
  width: 98%;
  margin: auto;
}


input {
  font-family: monospace;
}

#submitButton {
  background-color: #006666;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#submitButton:hover {
  background-color: #b38f00;
}

#submitButton:active {
  background-color: #806600;
}
