body {
  font-family: monospace;
  color: #666666;
  background-color: #f0f5f5;
}

.headAndFoot {
  background-color: #d1e0e0;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}

#headerBox {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: auto;
  letter-spacing: 2px;
  word-spacing: 4px;
  z-index: 99;
}

img {
  position: relative;
  animation-name: whoosh;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes whoosh {
    0%   {left:0px;}
    100% {left:300px;}
}

#wrapper {
  position: relative;
  width: 30%;
  margin: 5% auto 0 auto;
  padding: 1em;
  background-color: #b3cccc;
  border-style: double;
  border-width: 4px;
  border-color: #666666;
  border-radius: 4px;
}

#groceryList {
  display: inline-block;
  background-color: #e0ebeb;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  border-radius: 4px;
  font-size: 1.2em;
  margin: 0.6em auto;
  width: 65%;
  padding: 1em;
  line-height: 150%;
}

#groceryPrice {
  display: inline-block;
  background-color: #e0ebeb;
  text-align: right;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  border-radius: 4px;
  width: 15%;
  font-size: 1.2em;
  padding: 1em;
  margin: 0.6em 0;
  line-height: 150%;
}

#clearButton {
  position: absolute;
  right:2px;
  bottom: -22px;
  margin: 1em;
  font-family: monospace;
  background-color: #006666;
  border: solid;
  border-style: double;
  border-width: 1px;
  border-color: #333333;
  border-radius: 5px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

#clearButton:hover {
  background-color: #b38f00;
}

#clearButton:active {
  background-color: #806600;
}

#totalBox {
  color: #527a7a;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  width: 30%;
  margin: 0 auto 2% auto;
  padding: 1em 0 1em 0;
  font-weight: bold;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 99%;
  margin: auto;
  letter-spacing: 4px;
  word-spacing: 5px;
}


input {
  font-family: monospace;
}

input[type=text] {
    width: 15%%;
    padding: 4px 5px;
    margin: 4px 10px 4px 4px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitButton {
  background-color: #006666;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 3px 3px 2px #888888;
}

#submitButton:hover {
  background-color: #b38f00;
}

#submitButton:active {
  background-color: #806600;
  box-shadow: 1px 1px 0 0 #888888;
}
